In [1]:
import pypsa
from pypower.api import case39, case14

ppc = case39() #try case14() for a smaller network
network = pypsa.Network()
network.import_from_pypower_ppc(ppc)
network.determine_network_topology()
for sub_network in network.sub_networks.obj:
    pypsa.pf.calculate_B_H(sub_network)

WARNING:pypsa.io:Warning: Note that when importing from PYPOWER, some PYPOWER features not supported: areas, gencosts, component status
INFO:numexpr.utils:Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.

In [2]:
#printing only the relevant part of the buses dataframe
#namely the buses indices and the power they consume

sub_network.buses()[["Pd"]]

         Pd
1     97.60
2      0.00
3    322.00
4    500.00
5      0.00
6      0.00
7    233.80
8    522.00
9      6.50
10     0.00
11     0.00
12     8.53
13     0.00
14     0.00
15   320.00
16   329.00
17     0.00
18   158.00
19     0.00
20   680.00
21   274.00
22     0.00
23   247.50
24   308.60
25   224.00
26   139.00
27   281.00
28   206.00
29   283.50
30     0.00
31     9.20
32     0.00
33     0.00
34     0.00
35     0.00
36     0.00
37     0.00
38     0.00
39  1104.00

In [19]:
#printing only the relevant part of the generator dataframe
#namely the buses where they are housed and the power they produce

sub_network.generators()[["bus","p_set"]]

   bus     p_set
G0  30   250.000
G1  31   677.871
G2  32   650.000
G3  33   632.000
G4  34   508.000
G5  35   650.000
G6  36   560.000
G7  37   540.000
G8  38   830.000
G9  39  1000.000

The following code (i) rearranges the lines in the right order and (ii) calculates the susceptances of each line.

The susceptance $b_\ell = b_{i,j}$ of a line $\ell=(i,j)$ is precisely the value we want to put in the adjacency matrix entry $A_{i,j}$ and $A_{j,i}$.

In [20]:
baseMVA=100
lines = sub_network.branches()
lines.bus0 = lines.bus0.astype(int) #transforms bus0 into an integer (it was a string)
lines.bus1 = lines.bus1.astype(int) #transforms bus1 into an integer (it was a string)
lines.sort_values(by=['bus0','bus1'], inplace=True) #sort the network lines based on buses they connect
lines["susceptances"] = list(1/(baseMVA*lines["x_pu_eff"])) #susceptance calculated and added to the dataframe
lines[["bus0","bus1","susceptances"]] #printing only the relevant part of the dataframe

                 bus0  bus1  susceptances
Line        L0      1     2     24.330900
            L1      1    39     40.000000
            L2      2     3     66.225166
            L3      2    25    116.279070
Transformer T0      2    30     53.901091
Line        L4      3     4     46.948357
            L5      3    18     75.187970
            L6      4     5     78.125000
            L7      4    14     77.519380
            L8      5     6    384.615385
            L9      5     8     89.285714
            L10     6     7    108.695652
            L11     6    11    121.951220
Transformer T1      6    31     37.383178
Line        L12     7     8    217.391304
            L13     8     9     27.548209
            L14     9    39     40.000000
            L15    10    11    232.558140
            L16    10    13    232.558140
Transformer T2     10    32     46.728972
            T3     12    11     22.851397
            T4     12    13     22.851397
Line        L17    13    14     99.009901
            L18    14    15     46.082949
            L19    15    16    106.382979
            L20    16    17    112.359551
            L21    16    19     51.282051
            L22    16    21     74.074074
            L23    16    24    169.491525
            L24    17    18    121.951220
            L25    17    27     57.803468
Transformer T5     19    20     68.362045
            T6     19    33     65.815453
            T7     20    34     55.060015
Line        L26    21    22     71.428571
            L27    22    23    104.166667
Transformer T8     22    35     68.224458
Line        L28    23    24     28.571429
            L29    23    36     36.764706
            L30    25    26     30.959752
Transformer T9     25    37     42.052145
Line        L31    26    27     68.027211
            L32    26    28     21.097046
            L33    26    29     16.000000
            L34    28    29     66.225166
Transformer T10    29    38     62.539087